@tailwind base;
@tailwind components;
@tailwind utilities;

/* Manrope Variable font */
@layer base {
  @font-face {
    font-family: "Manrope";
    font-weight: 400;
    src: url("~assets/fonts/Manrope.woff2") format("woff2");
  }
}
